src/main/resources/wsdl/fsm-endpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FSMEndpoint" targetNamespace="http://soap.integration.fsm.comarch.com/" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://soap.integration.fsm.comarch.com/">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.integration.fsm.comarch.com/">
			<xs:element name="fetchAvailableAppointmentSlots" type="tns:fetchAvailableAppointmentSlots" />
			<xs:element name="fetchAvailableAppointmentSlotsResponse" type="tns:fetchAvailableAppointmentSlotsResponse" />
			<xs:element name="fetchWorkOrder" type="tns:fetchWorkOrder" />
			<xs:element name="fetchWorkOrderResponse" type="tns:fetchWorkOrderResponse" />
			<xs:element name="rescheduleTask" type="tns:rescheduleTask" />
			<xs:element name="rescheduleTaskResponse" type="tns:rescheduleTaskResponse" />
			<xs:element name="createWorkOrder" type="tns:createWorkOrder" />
			<xs:element name="createWorkOrderResponse" type="tns:createWorkOrderResponse" />
			<xs:element name="createTask" type="tns:createTask" />
			<xs:element name="createTaskResponse" type="tns:createTaskResponse" />
			<xs:element name="modifyWorkOrder" type="tns:modifyWorkOrder" />
			<xs:element name="modifyWorkOrderResponse" type="tns:modifyWorkOrderResponse" />
			<xs:element name="cancelWorkOrder" type="tns:cancelWorkOrder" />
			<xs:element name="cancelWorkOrderResponse" type="tns:cancelWorkOrderResponse" />
			<xs:element name="closeWorkOrder" type="tns:closeWorkOrder" />
			<xs:element name="closeWorkOrderResponse" type="tns:closeWorkOrderResponse" />
			<xs:element name="cancelTask" type="tns:cancelTask" />
			<xs:element name="cancelTaskResponse" type="tns:cancelTaskResponse" />

			<xs:complexType name="fetchAvailableAppointmentSlots">
				<xs:sequence>
					<xs:element name="query" type="tns:availableSlotsQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="availableSlotsQuery">
				<xs:sequence>
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="processCreationDate" type="xs:dateTime" />
					<xs:element name="orderType" type="xs:string" />
					<xs:element name="orderTechnology" type="xs:string" />
					<xs:element name="inventory" type="tns:inventory" nillable="true" minOccurs="0"/>
					<xs:element name="location" type="tns:location" />
					<xs:element name="customer" type="tns:customer" nillable="true" minOccurs="0" />
					<xs:element name="additionalRequirements" type="tns:additionalRequirements" nillable="true" minOccurs="0" />
					<xs:element name="interval" type="tns:timeInterval" />
					<xs:element name="additionalTaskTypes" minOccurs="0" type="tns:additionalTaskTypes" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fetchAvailableAppointmentSlotsResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:availableSlots" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="availableSlots">
				<xs:sequence>
					<xs:element name="slots" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="slot" type="tns:slot" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="slot">
				<xs:sequence>
					<xs:element name="interval" type="tns:timeInterval" />
					<xs:element name="goodness" type="xs:string" />
					<xs:element name="variantsQuantity" type="xs:int" />
					<xs:element name="fulfillmentPartner" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fetchWorkOrder">
				<xs:sequence>
					<xs:element name="query" type="tns:workOrderQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="workOrderQuery">
				<xs:sequence>
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="key">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="sourceSystem" type="xs:string" minOccurs="0" />
								<xs:choice>
									<xs:element name="workOrderId" type="xs:string" />
									<xs:element name="processId" type="xs:string" />
									<xs:element name="processSignature" type="xs:string" />
								</xs:choice>
								<xs:element name="interval" type="tns:timeInterval" minOccurs="0"/>
								<xs:element name="customer" type="tns:customerQuery" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customerQuery">
				<xs:sequence>
					<xs:element name="customerId" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="fetchWorkOrderResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:workOrderList" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="workOrderList">
				<xs:sequence>
					<xs:element name="workOrder" type="tns:workOrderItem" nillable="false" maxOccurs="unbounded" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="workOrderItem">
				<xs:sequence>
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="processSignature" type="xs:string" />
					<xs:element name="workOrderId" type="xs:string" />
					<xs:element name="workOrderURL" type="xs:string" minOccurs="0" />
					<xs:element name="status" type="xs:string" />
					<xs:element name="tasks" type="tns:tasksList" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="tasksList">
				<xs:sequence>
					<xs:element name="task" type="tns:taskList" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="taskList">
				<xs:sequence>
					<xs:element name="taskId" type="xs:string" />
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="realizationInterval" type="tns:timeInterval" minOccurs="0" />
					<xs:element name="scheduleInterval" type="tns:timeInterval" minOccurs="0" />
					<xs:element name="executor" type="tns:assignedExecutor" minOccurs="0" />
					<xs:element name="finishDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="location" type="tns:location" />
					<xs:element name="inventory" type="tns:inventory" minOccurs="0"/>
					<xs:element name="attributes" type="tns:returnedAttributes" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="returnedAttributes">
				<xs:sequence>
					<xs:element name="attribute" type="tns:returnedAttribute" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="returnedAttribute">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="attrValue" type="tns:returnedAttrValue" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="returnedAttrValue">
				<xs:sequence>
					<xs:element name="code" type="xs:string" minOccurs="0"/>
					<xs:element name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="assignedExecutor">
				<xs:sequence>
					<xs:element name="executorId" type="xs:string" />
					<xs:element name="executorName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="rescheduleTask">
				<xs:sequence>
					<xs:element name="query" type="tns:rescheduleTaskQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="rescheduleTaskQuery">
				<xs:sequence>
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="taskId" type="xs:string" />
					<xs:element name="slot" type="tns:timeInterval" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="timeInterval">
				<xs:sequence>
					<xs:element name="dateFrom" type="xs:dateTime" />
					<xs:element name="dateTo" type="xs:dateTime" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="rescheduleTaskResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="createWorkOrder">
				<xs:sequence>
					<xs:element name="query" type="tns:createWorkOrderQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createWorkOrderQuery">
				<xs:sequence>
					<xs:element name="workOrderId" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="processSignature" type="xs:string" />
					<xs:element name="processCreationDate" type="xs:dateTime" />
					<xs:element name="orderType" type="xs:string" />
					<xs:element name="orderTechnology" type="xs:string" />
					<xs:element name="inventory" type="tns:inventory" nillable="true" minOccurs="0"/>
					<xs:element name="location" type="tns:location" />
					<xs:element name="customer" type="tns:customer" nillable="true" minOccurs="0" />
					<xs:element name="additionalRequirements" type="tns:additionalRequirements" nillable="true" minOccurs="0"/>
					<xs:element name="slot" type="tns:timeInterval" minOccurs="0" />
					<xs:element name="rangeStart" type="xs:dateTime" minOccurs="0" />
					<xs:element name="notes" type="tns:notes" minOccurs="0" />
					<xs:element name="additionalTaskTypes" minOccurs="0" type="tns:additionalTaskTypes" />
					<xs:element name="attributes" minOccurs="0" type="tns:attributes" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="createWorkOrderResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:workOrder" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="workOrder">
				<xs:sequence>
					<xs:element name="workOrderId" type="xs:string" />
					<xs:element name="workOrderURL" type="xs:string" minOccurs="0" />
					<xs:element name="tasks" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="task" type="tns:task" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="inventory">
				<xs:sequence>
					<xs:element name="node" type="tns:node" nillable="true" minOccurs="0"/>
					<xs:element name="devices" type="tns:devices" nillable="true"  minOccurs="0" />
					<xs:element name="services" type="tns:services" nillable="true" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="node">
				<xs:sequence>
					<xs:element name="nodeId" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="location">
				<xs:sequence>
					<xs:element name="locationId" type="xs:string" minOccurs="0" />
					
					<xs:element name="administrationUnit" type="tns:administrationUnit" />

					<xs:element name="cityId" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="cityName" type="xs:string" nillable="false" />
					
					<xs:element name="cityAdministrationUnit" type="tns:administrationUnit" nillable="true" minOccurs="0" />

					<xs:element name="streetId" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="streetName" type="xs:string" nillable="true" minOccurs="0" />

					<xs:element name="buildingNo" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="flatNo" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="longitude" type="xs:decimal" nillable="true" minOccurs="0" />
					<xs:element name="latitude" type="xs:decimal" nillable="true" minOccurs="0" />
					<xs:element name="description" type="xs:string" nillable="true" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="administrationUnit">
				<xs:sequence>
					<xs:element name="id" type="xs:string" nillable="true"  minOccurs="0"/>
					<xs:element name="level" type="xs:string" nillable="false" />
					<xs:element name="name" type="xs:string" nillable="false" />
					<xs:element name="administrationUnit" type="tns:administrationUnit" nillable="true" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="customerTypeEnum">
				<xs:restriction base="xs:string">
					<xs:enumeration value="INDIVIDUAL" />
					<xs:enumeration value="BUSINESS" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="customer">
				<xs:sequence>
					<xs:element name="customerId" type="xs:string" nillable="false" />
					<xs:element name="customerType" type="tns:customerTypeEnum" nillable="false" />

					<xs:element name="firstName" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="lastName" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="businessName" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="phoneNumber1" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="phoneNumber2" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="phoneNumber3" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="email" type="xs:string" nillable="true" minOccurs="0" />
					<xs:element name="contacts" type="tns:contacts" nillable="true" maxOccurs="1" minOccurs="0" />
					<xs:element name="location" type="tns:location" nillable="true" minOccurs="0"/>
					<xs:element name="attributes" type="tns:attributes" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createTask">
				<xs:sequence>
					<xs:element name="query" type="tns:createTaskQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createTaskQuery">
				<xs:sequence>
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="workOrderId" type="xs:string" />
					<xs:element name="inventory" type="tns:inventory" nillable="true" minOccurs="0"/>
					<xs:element name="location" type="tns:location" />
					<xs:element name="customer" type="tns:customer" nillable="true" minOccurs="0" />
					<xs:element name="additionalRequirements" type="tns:additionalRequirements" nillable="true" minOccurs="0" />
					<xs:element name="slot" type="tns:timeInterval" />
					<xs:element name="notes" type="tns:notes" minOccurs="0" />
					<xs:element name="attributes" minOccurs="0" type="tns:attributes" />
					<xs:element name="additionalTaskTypes" minOccurs="0" type="tns:additionalTaskTypes" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createTaskResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:task" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="task">
				<xs:sequence>
					<xs:element name="taskId" type="xs:string" />
					<xs:element name="status" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="modifyWorkOrder">
				<xs:sequence>
					<xs:element name="query" type="tns:modifyWorkOrderQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="modifyWorkOrderQuery">
				<xs:sequence>
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="processSignature" type="xs:string" />
					<xs:element name="workOrderId" type="xs:string" />
					<xs:element name="update" type="xs:boolean" minOccurs="0" />
					<xs:element name="customer" type="tns:customer" nillable="true" minOccurs="0" />
					<xs:element name="notes" type="tns:notes" minOccurs="0" />
					<xs:element name="attributes" type="tns:attributes" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="modifyWorkOrderResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="cancelWorkOrder">
				<xs:sequence>
					<xs:element name="query" type="tns:cancelWorkOrderQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="cancelWorkOrderQuery">
				<xs:sequence>
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="workOrderId" type="xs:string" />
					<xs:element name="note" type="xs:string" nillable="false" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="cancelWorkOrderResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="closeWorkOrder">
				<xs:sequence>
					<xs:element name="query" type="tns:cancelWorkOrderQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="closeWorkOrderResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="ApplicationException" type="tns:ApplicationException" />
			<xs:complexType name="ApplicationException">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="cancelTask">
				<xs:sequence>
					<xs:element name="query" type="tns:cancelTaskQuery" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="cancelTaskQuery">
				<xs:sequence>
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element name="processId" type="xs:string" />
					<xs:element name="taskId" type="xs:string" />
					<xs:element name="note" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="cancelTaskResponse">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="contacts">
				<xs:sequence>
					<xs:element name="contact" type="tns:contact" nillable="false" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contact">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="value" type="xs:string" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="services">
				<xs:sequence>
					<xs:element name="service" type="tns:service" nillable="false" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="service">
				<xs:sequence>
					<xs:element name="serviceId" type="xs:string" />
					<xs:element name="serviceName" type="xs:string" />
					<xs:element name="serviceFullName" type="xs:string" />
					<xs:element name="attributes" type="tns:attributes" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="devices">
				<xs:sequence>
					<xs:element name="device" type="tns:device" nillable="false" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="device">
				<xs:sequence>
					<xs:element name="deviceId" type="xs:string" />
					<xs:element name="deviceName" type="xs:string" />
					<xs:element name="deviceFullName" type="xs:string" />
					<xs:element name="serialNumber" type="xs:string" minOccurs="0" />
					<xs:element name="macAddress" type="xs:string" minOccurs="0" />
					<xs:element name="attributes" type="tns:attributes" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>


			<xs:complexType name="attributes">
				<xs:sequence>
					<xs:element name="attribute" type="tns:additionalAttribute" nillable="false" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="additionalAttribute">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="value" type="xs:string" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="additionalTaskTypes">
				<xs:sequence>
					<xs:element name="taskType" type="xs:string" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="additionalSkills">
				<xs:sequence>
					<xs:element name="skill" type="xs:string" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="notes">
				<xs:sequence>
					<xs:element name="note" type="xs:string" nillable="false" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="additionalRequirements">
				<xs:sequence>
					<xs:element name="executorRole" type="xs:string" minOccurs="0" />
					<xs:element name="executors" type="tns:executors" minOccurs="0" />
					<xs:element name="sla" type="xs:dateTime" minOccurs="0" />
					<xs:element name="additionalSkills" type="tns:additionalSkills" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="executors">
				<xs:sequence>
					<xs:element name="executor" type="tns:executor" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="executor">
				<xs:sequence>
					<xs:element name="executorId" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="fetchAvailableAppointmentSlots">
		<wsdl:part element="tns:fetchAvailableAppointmentSlots" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchAvailableAppointmentSlotsResponse">
		<wsdl:part element="tns:fetchAvailableAppointmentSlotsResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchWorkOrder">
		<wsdl:part element="tns:fetchWorkOrder" name="parameters" />
	</wsdl:message>
	<wsdl:message name="fetchWorkOrderResponse">
		<wsdl:part element="tns:fetchWorkOrderResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="rescheduleTask">
		<wsdl:part element="tns:rescheduleTask" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="rescheduleTaskResponse">
		<wsdl:part element="tns:rescheduleTaskResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createWorkOrder">
		<wsdl:part element="tns:createWorkOrder" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createWorkOrderResponse">
		<wsdl:part element="tns:createWorkOrderResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createTask">
		<wsdl:part element="tns:createTask" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createTaskResponse">
		<wsdl:part element="tns:createTaskResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="modifyWorkOrder">
		<wsdl:part element="tns:modifyWorkOrder" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="modifyWorkOrderResponse">
		<wsdl:part element="tns:modifyWorkOrderResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelWorkOrder">
		<wsdl:part element="tns:cancelWorkOrder" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelWorkOrderResponse">
		<wsdl:part element="tns:cancelWorkOrderResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="closeWorkOrder">
		<wsdl:part element="tns:closeWorkOrder" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="closeWorkOrderResponse">
		<wsdl:part element="tns:closeWorkOrderResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelTask">
		<wsdl:part element="tns:cancelTask" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelTaskResponse">
		<wsdl:part element="tns:cancelTaskResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ApplicationException">
		<wsdl:part element="tns:ApplicationException" name="ApplicationException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FSMEndpoint">
		<wsdl:operation name="fetchAvailableAppointmentSlots">
			<wsdl:input message="tns:fetchAvailableAppointmentSlots" name="fetchAvailableAppointmentSlots">
			</wsdl:input>
			<wsdl:output message="tns:fetchAvailableAppointmentSlotsResponse" name="fetchAvailableAppointmentSlotsResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="fetchWorkOrder">
			<wsdl:input message="tns:fetchWorkOrder" name="fetchWorkOrder" />
			<wsdl:output message="tns:fetchWorkOrderResponse" name="fetchWorkOrderResponse" />
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException" />
		</wsdl:operation>
		<wsdl:operation name="rescheduleTask">
			<wsdl:input message="tns:rescheduleTask" name="rescheduleTask">
			</wsdl:input>
			<wsdl:output message="tns:rescheduleTaskResponse" name="rescheduleTaskResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createWorkOrder">
			<wsdl:input message="tns:createWorkOrder" name="createWorkOrder">
			</wsdl:input>
			<wsdl:output message="tns:createWorkOrderResponse" name="createWorkOrderResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createTask">
			<wsdl:input message="tns:createTask" name="createTask">
			</wsdl:input>
			<wsdl:output message="tns:createTaskResponse" name="createTaskResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modifyWorkOrder">
			<wsdl:input message="tns:modifyWorkOrder" name="modifyWorkOrder">
			</wsdl:input>
			<wsdl:output message="tns:modifyWorkOrderResponse" name="modifyWorkOrderResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelWorkOrder">
			<wsdl:input message="tns:cancelWorkOrder" name="cancelWorkOrder">
			</wsdl:input>
			<wsdl:output message="tns:cancelWorkOrderResponse" name="cancelWorkOrderResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="closeWorkOrder">
			<wsdl:input message="tns:closeWorkOrder" name="closeWorkOrder">
			</wsdl:input>
			<wsdl:output message="tns:closeWorkOrderResponse" name="closeWorkOrderResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelTask">
			<wsdl:input message="tns:cancelTask" name="cancelTask">
			</wsdl:input>
			<wsdl:output message="tns:cancelTaskResponse" name="cancelTaskResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ApplicationException" name="ApplicationException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FSMEndpointServiceSoapBinding" type="tns:FSMEndpoint">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="fetchAvailableAppointmentSlots">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="fetchAvailableAppointmentSlots">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="fetchAvailableAppointmentSlotsResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="fetchWorkOrder">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="fetchWorkOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="fetchWorkOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="rescheduleTask">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="rescheduleTask">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="rescheduleTaskResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createWorkOrder">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createWorkOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createWorkOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createTask">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createTask">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createTaskResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modifyWorkOrder">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="modifyWorkOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="modifyWorkOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelWorkOrder">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="cancelWorkOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cancelWorkOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="closeWorkOrder">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="closeWorkOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="closeWorkOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelTask">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="cancelTask">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cancelTaskResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApplicationException">
				<soap:fault name="ApplicationException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FSMEndpointService">
		<wsdl:port binding="tns:FSMEndpointServiceSoapBinding" name="FSMEndpointPort">
			<soap:address location="http://localhost:8080/fsm-integration/fsm-endpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>